<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Konashi</title>
    <link rel='stylesheet' href='/stylesheets/ratchet.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header class="bar-title">
        <h1 class="title">konashiで遊ぼ</h1>
        <a id="search_btn" class="button" href="#">Search</a>
    </header>

    <div class="content">
    <!--<div class="content-padded">-->
    <ul class="list">
        <li>Connect: 
            <span id="target"></span>
            <img id="loader" src="images/ajax-loader.gif" width="16" height="16" alt="connecting..." />
        </li>
        <li>LED2
            <div id="toggleLED2" class="toggle" data-pin="1">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li>LED3
            <div id="toggleLED3" class="toggle" data-pin="2">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li>LED4
            <div id="toggleLED4" class="toggle" data-pin="3">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li>LED5
            <div id="toggleLED5" class="toggle" data-pin="4">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li>KnightRider
            <div id="toggleKR" class="toggle">
                <div class="toggle-handle"></div>
            </div>
        </li>
    </ul>
    <!--</div>-->
    </div>



    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/konashi-bridge.min.js"></script>
    <script type="text/javascript" src="/javascripts/ratchet.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
  </body>
</html>

